main.py
main_classifier.py
database_builder.py
test_images/
dataset/
references/

# Versiyon kontrol
.git/
.gitignore

# Python ve sanal ortam dosyaları
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Çevre değişkenleri (Sunucuda kendiniz tanımlamalısınız)
.env

# Yerel test klasörleri ve gereksiz resimler (Bunlar imaj boyutunu şişirmesin)
ciktilar/
crops/
references/

# IDE dosyaları
.vscode/
.idea/

