USE_AZURE=<bool>
AZURE_BLOB_CONNECTION_STRING=<connectionstring>
AZURE_BLOB_CONTAINER_NAME=<containername>

YOLO_CONF=<value>
YOLO_IOU=<value>

CONFIDENCE_THRESHOLD=<value>

OCR_FALLBACK_THRESHOLD=<value>

EDGE_TOLERANCE=<value>

SHELF_THRESHOLDS=<value,value,value,value>
