# ==========================================
# AZURE BLOB STORAGE AYARLARI
# ==========================================
AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=
USE_AZURE=False

# ==========================================
# YAPAY ZEKA VE MODEL AYARLARI
# ==========================================
# DINOv2 Benzerlik Barajı (0.00 ile 1.00 arası)
SIMILARITY_THRESHOLD=0.40

# YOLO Sınıflandırma Güven Barajı (Eğer marka tespiti için ayrıca kullanıyorsanız)
CONFIDENCE_THRESHOLD=0.25

# YOLO Nesne Tespit Ayarları (Kutu çizme hassasiyeti ve çözünürlük)
YOLO_CONF=0.50
YOLO_IOU=0.50
YOLO_IMGSZ=1280