.env
api/.env

venv/
__pycache__/
*.pyc

.idea/
.vscode/

dataset/
test_images/
references/
logos/
crops/
ciktilar/
output_images/


api/output_images/

best.pt
best_cls.pt
*.pt
*.pkl

product_catalog.json
product_catalog_sut.json
product_embeddings.pkl