# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
.venv/
venv/

# AI & Media (Heavy Files)
references/
output_images/
weights/
*.jpg
*.png
*.jpeg
*.webp

# IDEs
.idea/
.vscode/

# Secrets & Config
.env